.root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
}

body {
    font-family: var(--primary-font)
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


/* =====================COMPONENTS====================== */
/* =====================HEADER====================== */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-header {
    color: #000000;
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.contact-phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.contact-phone-number:hover,
.contact-phone-number:focus {
    color: var(--accent-color);
}

.contact-email {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.contact-email:hover,
.contact-email:focus {
    color: var(--accent-color);
}
/* =====================/HEADER====================== */
/* =====================HERO====================== */
.hero {
    background: 2F303A;
}

.main-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* color: #FFFFFF; */
}

.modal-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #2196F3;
    
}

.modal-btn:hover 
.modal-btn:focus {
    background-color: 188CE8;
}
/*  =====================/HERO====================== */

/* =====================ADVANTAGES====================== */
.advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.advantages-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
/* =====================/ADVANTAGES====================== */
/* =====================ABOUT====================== */
/* =====================/ABOUT====================== */
.secondary-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
/* =====================EMPLOYEES====================== */
.employees {
    background: #F5F4FA;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.profesion-team-member {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
/* =====================/EMPLOYEES====================== */

/* =====================FOOTER====================== */
.logo-footer {
    color: #FFFFFF;
}

.map-adress {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /* color: #FFFFFF; */
}

.map-adress:hover,
.map-adress:focus {
    color: var(--accent-color);
}

.mail-adress {  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /* color: rgba(255, 255, 255, 0.6); */
}

.mail-adress:hover,
.mail-adress:focus {
    color: var(--accent-color);
}

.phone-number {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /* color: rgba(255, 255, 255, 0.6); */
}

.phone-number:hover,
.phone-number:focus {
    color: var(--accent-color);
}
/* =====================/FOOTER====================== */














